*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.cont{
    position: relative;
    width: 40vw;
    height: 40vw;
    margin: auto;
    background-image: url("clock.png");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.digi{
    width: 40vmax;
    height: 10vmax;
    border: 10px solid black;
    border-radius: 20px;
    margin: auto;
    margin-top: 40px;
    background-image: linear-gradient(45deg, rgb(59, 223, 127), rgb(52, 52, 245));
    box-shadow: 10px -5px 0px 5px rgb(0, 0, 0);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.hand{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    position: absolute;
    bottom: 50%;
    transform-origin: bottom;
}
#hour{
    width:3%;
    height: 22%;
    transition: transform 1s cubic-bezier(0, -0.74, 1, 2.27);
}
#minute{
    width: 2%;
    height: 25%;
    transition: transform 2s cubic-bezier(0, -0.74, 1, 2.27);
}
#second{
    width: 1%;
    height: 30%;
    transition: transform 1s linear;
}
.dii{
    font-size: 5em;
}
#sec{
    font-size: 3em ;
}
